<phpunit bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="bavix">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">

            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/html/"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

</phpunit>
